header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #2c5d8a;
}

a:hover {
  text-decoration: underline;
}

li > ul {
  margin-bottom: 0rem;
  margin-top: 0.2rem;
}

li {
  padding: 0rem;
}

table {
  width: fit-content;
}

td {
  text-align: center;
}

body {
  overflow-y: scroll; /* Always show vertical scrollbar */
}
